* {
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: 28px;
}

.utility {
  text-align: right;
  margin-top: .5em;
}

.utility .logout {
  display: none;
}

.hero-unit {
  margin-top: 10px;
  margin-bottom: 15px;
  background: #C9B5FF url(../img/children-piggyback-rides.jpg) top right no-repeat;
  background-size: contain;
  border: 2px solid #000;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
     -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.nav-controls {
  margin-bottom: 10px;
  text-align: center;
}

.ui-widget-header {
  border: 1px solid #C9B5FF;
  background: #C9B5FF;
}

.nav-controls span.zip {
  margin: 0 2em;
}

.nav-controls span.sort {
  margin-right: 2em;
}

.container-fluid footer,
.main .col {
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

.main .col {
  width: 18.5%;
  margin-left: 1.75%;
  float: left;
}

footer .col {
  width: 23.5%;
  margin-left: 1.75%;
  float: left;
}

footer .col img {
  width: 100%;
}

.main .col:first-child,
footer .col:first-child {
  margin: 0;
}

.container-fluid footer {
  margin-top: 1em;
  background: #fff;
  padding: 10px;
}

.tagline {
  font-family: 'Adamina', serif;
  font-weight: bold;
}

.main {
  margin-bottom: 10px;
}

.main .nav {
  background: #efefef;
}

.main .nav .date {
  text-align: center;
}

.utility .nav {
  float: right;
  margin-bottom: 0;
}

.utility .nav .welcome {
  margin-right: 1em;
}

.filter a {
  width: 100%;
  display: block;
  text-align: left;
}

.filter a:link,
.filter a:visited {
  color: #333;
}

.events h4 {
  padding: .5em;
  padding-right: 1.75em;
  position: relative;
}

.events h4 a.title {
  color: #333;
}

.events h4 a.expander {
  position: absolute;
  bottom: .75em;
  right: .5em;
  color: #333;
  border: 1px solid #333;
  font-size: 12px;
  line-height: 1em;
  padding: .25em .5em .35em;
  text-decoration: none;
}

.events .expanded a.expander {
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}

.events h4.cat-1 {
  background: #89FFAC;
}

.events h4.cat-2 {
  background: #7CE4E8;
}

.events h4.cat-3 {
  background: #E89C7C;
}

.events h4.cat-4 {
  background: #FFEF97;
}

.events h4.cat-5 {
  background: #C6B2FF;
}

.events h4.cat-6 {
  background: #a9897c;
}

.item-box {
  margin-top: 1em;
  font-size: 80%;
  line-height: 1.25em;
  border-top: 1px solid #3C2638;
}

.item-box h5 a.title {
  color: #333;
}

.item-box h5 a.sync {
  float: right;
  width: 14px;
  height: 14px;
}

.item-box:nth-of-type(1) {
  border-top: none;
}

.item-box.hidden {
  display: none;
}

.item-box .info {
  display: none;
}

.item-box dt {
  float: left;
  margin-right: .5em;
}

.item-box dt:after {
  content: ":";
}

.item-box img {
  width: 100%;
  border: 1px solid #3C2638;
}

.main h3 {
  margin-top: 0;
}

a.sync {
  position: relative;
}

a.sync .alert {
  position: absolute;
  left: 15px;
  top: -5px;
  border: 1px solid #333;
  z-index: 100;
  color: #333;
}

.copyright {
  font-size: xx-small;
  margin-bottom: 10px;
}